.container,
.cart {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.container {
  margin: 1.5rem;
  width: 50%;
  height: 90%;
}

.cart {
  margin: 1.5rem 1rem;
  width: 60%;
  max-width: 300px;
  height: 70%;
}

.next_btn {
  float: right;
}
