.container,
.cart {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(#999, .25);
    padding: .75rem;
}

.container {
    margin: 1.5rem;
    width: 50%;
}

.cart {
    margin: 1.5rem 1rem;
    width: 30%;
    min-width: 400px;
    height: 70%;
}

.next_btn {
    float: right;
}